<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Product pages -->
    <event name="layout_render_before_catalog_product_view">
        <observer name="angeo_rich_data_product_page"
                  instance="Angeo\RichData\Observer\ProductPageObserver"/>
    </event>

    <!-- Homepage -->
    <event name="layout_render_before_cms_index_index">
        <observer name="angeo_rich_data_cms_homepage"
                  instance="Angeo\RichData\Observer\CmsPageObserver"/>
    </event>

    <!-- CMS pages (FAQ, About, etc.) -->
    <event name="layout_render_before_cms_page_view">
        <observer name="angeo_rich_data_cms_page"
                  instance="Angeo\RichData\Observer\CmsPageObserver"/>
    </event>

</config>
